.font-inter {
  font-family: "Inter", sans-serif;
   
}


/* for Medium device: 576px - 991px */
@media (min-width: 576px) and (max-width: 991px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .item-1 {
    grid-column: span 2; 
  }
}

/* For Large device: 992px and above */
@media (min-width: 992px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "items-1 items-2 items-2"
      "items-1 items-3 items-3"
      "items-4 items-4 items-5";
  }

  .item-1 { grid-area: items-1; }
  .item-2 { grid-area: items-2; }
  .item-3 { grid-area: items-3; }
  .item-4 { grid-area: items-4; }
  .item-5 { grid-area: items-5; }
}
