
/* Responsive for medium device ≥ 768px */
@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* item-1 full width in medium */
  .item-1 {
    grid-column: span 2;

  }
}

/* Responsive: for large device ≥ 1024px  */
@media (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "items-1 items-2 items-2"
      "items-1 items-3 items-3"
      "items-4 items-4 items-5";
  }
.item-1 { grid-area: items-1; }
  .item-2 { grid-area: items-2; }
  .item-3 { grid-area: items-3; }
  .item-4 { grid-area: items-4; }
  .item-5 { grid-area: items-5; }
  
}

